* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', serif;
    color: #5f3700;
    background-color: #ffffff;
}

.imagen__carga {
    width: 3vw;
}

.index__carrito{
    display: flex;
    align-items: center;
    gap: 15px;
}

.contenedor__numero--carrito{
    padding-top: 20px;
    font-family: 'PT Sans', serif;
    color: red;
    font-size: large;
    font-weight: 700;
}

.index__error {
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.index__error--titulo {
    font-size: 2.2rem;
}

.index__error--subtitulo {
    font-size: 1.9rem;
    padding: 1rem 0 3rem 0;
}

.container {
    padding-top: 5rem;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor__carrito {
    display: flex;
    justify-content: right;
}

.carrito {
    height: 4rem;
}

.checkout__container {
    gap: 30px;
    padding: 0 12vw 5rem 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.checkout__imagen {
    width: 8vw;
}

.checkout__delete,
.checkout__deleteall {
    height: 1.7rem;
    cursor: pointer;
}

.checkout__columna {
    width: 100px;
}

.header {
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #fffbfb;
    border: 1px solid rgba(211, 211, 211, 0.384);
    border-radius: 3px;
    height: 385px;
    width: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transition: .3s ease-in;
    box-shadow: 5px 5px 10px rgba(151, 136, 136, 0.519);
}

.card__imagen {
    height: 20rem;
    width: 1fr;
}

.card .card-name {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    display: block;
    width: 1fr;
}

.card .card-price {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
    width: 1fr;
}

.card .card-button {
    padding-top: 1.6rem;
    text-align: center;
    color: #5f3700;
}

.btn,
.btnAgregar {
    background-color: #ffefef;
    color: #db8585;
    border: 1.5px solid #ffc3c3;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus
.btnAgregar:hover,
.btnAgregar:focus,
.btnAgregar:active,
.btnAgregar.active.focus,
.btnAgregar.active:focus,
.btnAgregar.focus,
.btnAgregar.focus:active,
.btnAgregar:active:focus {
    border: 1.5px solid #ffc3c3;
    background-color: #ffd4d4;
    color: #db8585;
    box-shadow: none;
}

body {
    padding: 20px;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

table {
    text-align: center;
}

.checkout__columna--nombre {
    text-align: left;
}

@media (max-width: 639px) {
    .checkout__container {
        padding-left: 13vw;
        padding-right: 5vw;
    }
}

@media (max-width: 530px) {
    .checkout__container {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}